html, body {margin: 0; height: 100%;}

.logo {
    width: 40%;
}

#landing, #part-2, #part-3 {
    height: 100%;
}

.Absolute-Center {
  display: flex; 
  align-items: center;
  justify-content: center; 
  text-align: center; 
}  

.btn-lg{
    margin: 80px;
    text-align: center;
    min-height: 100px;
    width: 200px;
}

.mediabar {
    padding: 20px 0;
    margin: 20px;
}

.media-button {
    width: 75px;
    margin: 0 20px;
}

#audioplayer{
    display: flex;
}

.play{
    margin-right: 20px;
}

#volume_control {
    margin: 0 auto;
    padding-top: 12px;
}

.paint{
    text-align: center;
    border-style: none;
    width: 100%;
    height: 80%;
}
